extends layout

block content
  form(action="/admin" method="post")
    
    div(class="field is-grouped")
      input.input(type="text" placeholder="Title" name="title" autofocus)
      button(class="button is-primary" type="submit") Submit
      
  table.table
    each announcement in announcements
      tr
        td= announcement.title
        td
          a(href=`/admin/${announcement._id}/delete`) Delete  
