extends layout

block content
  form(action="/admin" method="post")
    input(type="text" placeholder="Title" name="title" autofocus)
    button(type="submit") Submit
      
  table
    each announcement in announcements
      tr
        td= announcement.title
        td
          a(href=`/admin/${announcement._id}/delete`) Delete  
